video {
    width: 100%;
    margin-top: 98px;
}

@media screen and (max-width: 1023px) {
    video {
        margin-top: 92px;
    }
}

.text {
    display: flex;
    justify-content: center;
    font-family: cursive;
    margin-top: -50%;
    font-size: 54px;
    color: coral;
}

@media screen and (max-width: 1023px) {
    .text {
        font-size: 22px;
        margin-top: -52%;
    }
}
