.footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 95%;
}

@media screen and (max-width: 1023px) {
    .footer-container {
        margin-top: 40px;
        width: 82%;
    }
}

.copy-content {
    margin-top: 5px;
    width: 100%;
}
